*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    color: #fff;
    font-family: 'Lato' 'arial' sans-serif;
    font-size: 20px;
    font-weight:100;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
    
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)), url(images/color.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.color{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
}
h1{
    margin: 0;
    color: #fff;
    font-size: 280%;
    font-weight:100;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 60px;
    height: 10px;
    
}
h2{
    font-size: 110%;
    font-weight: 300;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 20px;
}

h3{
    font-size: 150%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 20px;
}
.btn{
    display: inline-block;
    padding: 15px 40px;
    font-weight: 100;
    font-size: 70%;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    color: #fff;
    border: 1px solid;
    
    
}
.btn-full{
    display: inline-block;
    padding: 5px 20px;
    color: #e67e22;
    text-decoration: none;
    border-radius: 100px;
    border: 1px solid; 
    margin-left: 100px;
    margin-top: 15px;
}
.btn:hover{
    background-color: rgba(234, 9, 9, 0.92);
    transition: background-color 0.3s;
}
.btn-full:hover{
    color: #fff;
    background-color: rgba(234, 9, 9, 0.92);
    transition: background-color 0.3s; color: 0.3s;
}
.logo{
    height: 40px;
    width: auto;
    float: left;
    margin-top: 20px;
    display: block;
    margin-left: 10px;
}
.name{
    margin-top: 20px;
}

.paul{
    height: 300px;
    width: auto;
    float: none;
    transform: translate(50%, 20%);
    
}
.main-nav{
    list-style: none;
    float: right;
    transform: translate(10%, );
    margin-top: 30px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;

}

.main-nav li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 90%;
    font-weight:600;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
    margin-top: 20px;
    transition: border-bottom 0.3s;
    padding: 8px 0px    ;
}
.data, .money, .airtime{
    color: rgba(0, 0, 0, 0.81);
    font-size: 150%;
    font-weight: 100;
    margin-left: 100px;
    
}


p{
    color: rgba(0, 0, 0, 0.3);
    margin-left:auto;
    text-justify: inherit;
}
.networks, .investment, .naira{
    height: 150px;
    margin-left: 100px;
    text-align: end;
}
.col-data{
    margin-left: 30%;
}
.col-invest{
    margin-left: 40%;
}
.col-airtime{
    margin-left: 30% ;
}

.last-section{
    background-color: rgba(255, 0, 0, 0.74);
    background-size:auto;
    margin-top: 20px;
}
.send{
    width: 100px;
    margin-left: 45%;
}
.whats{
    width: 100px;
    margin-left: 45%;
}
.last{
    background-color: #191919;
}
.end, boss{
    color: #767474;
    font-size: 15px;
    margin-left: 40%;
    padding-top: 10px;
}
.boss{
    margin-left: 50%;
    color: #767474;
}
.first{
    margin-left: 43%;
    color: #767474;
    font-size: 15px;
}















